#cover {
    background:lightblue;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}


#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color:white;
    z-index: -1;
    border-radius: 10px;
}